body {
    margin: 0;
    font-family: 'Ubuntu'
}

header {
    height: 7rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background: rgb(29, 145, 192)
}

.logo {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.haiku-cont {
    width: 30%;
    margin: 10px;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    align-self: flex-start;
    background-color: rgb(224, 225, 227, 0.7);
}

.br {
    color: rgb(255, 255, 255);
}

.gen-top {
    /* margin: auto; */
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
}

.gen-text {
    padding: 7px;
    text-align: left;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 900;
    line-height: 1;
    outline: none;
    border: none;
    color: rgb(0, 2, 51);
    text-shadow: 0.5px 0px 0.5px rgb(250, 252, 250);
    background: transparent;
}

.change {
    margin-left: auto;
    border-radius: 5px;
    text-align: right;

}

.tr {
    font-size: 20px;
    font-family: 'Ubuntu';
    background: transparent;
    color: rgb(255, 255, 255);
}

.gn {
    display: flex;
    flex-direction: column;
}

.generate {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 800;
    font-family: 'Ubuntu';
    background: transparent;
    color: rgb(39, 24, 177);
    text-shadow: 0px 1px 1px rgb(5, 1, 39);
}

.generate:hover {
    color: rgb(99, 1, 81);
    cursor: pointer;
}

.haiku {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Ubuntu';
    color: rgb(39, 24, 177);
    background: transparent;
}

.spa:hover, .fra:hover {
    cursor: pointer;
    color: rgb(99, 1, 81);
}

.active {
    font-size: 20px;
    color: rgb(249, 240, 41);
}

.passive {
    color: rgb(255, 255, 255);
}

.fields {
    grid-area: main;
    padding: 20px;

}

footer {
    grid-area: footer;
    background: transparent;
}

.foot {
    display: flex;
    font-family: 'Ubuntu';
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 145, 192);
    background: rgb(29, 145, 192);
}

.wrapper {
    display: grid;
    background: rgb(223, 221, 221);
    grid-template-rows: 170px calc(100vh - 190px - 6px) 20px;
    height: calc(100vh - 6px);
    grid-template-areas:
        "header"
        "main"
        'footer';
}

.finput {
    grid-area: finput;
    align-self: start;
}

.invis {
    display: none;
}

.fbutton {
    grid-area: fbutton;
    align-self: start;
}

.foutput {
    grid-area: foutput;
    align-self: start;
}

#graph {
    grid-area: graph;
    align-self: end;
}

#arrow {
    grid-area: arrow;
    align-self: end;
}

.toolTip {
    display: none;
    width: auto;
    height: auto;
    padding: 2px;
    color: black;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    background: none repeat scroll 0 0 white;
}

.fields {
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr;
    align-items: stretch;
    grid-template-areas:
        'finput fbutton foutput'
        'graph graph graph'
        '. arrow .';
}

.fbutton, .foutput, #translate-form, #graph, #arrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.baton {
    height: 110px;
    width: 110px;
    padding: 5px;
    text-align:center;
    border-radius: 100%;
    border: solid 5px #FFFFFF;
    color: rgb(249, 240, 41);
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(29, 145, 192);
    box-shadow: 0px 0px 3px rgb(92, 105, 112);
}

.baton:hover{
    cursor: pointer;
    background-color:rgb(99, 1, 81);
    border: solid 5px rgb(99, 1, 81);
}

button:focus {
    outline: none;
}

.form-field:focus {
    outline: none;
    box-shadow: 0px 0px 3px rgb(146, 160, 167);
}

.form-field {
    width: 95%;
    height: 65px;
    font-size: 45px;
    box-shadow: 1px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgb(162, 180, 180);
    background-color: rgb(224, 225, 227, 0.8);
}

.form-label {
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(2, 17, 151);
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px 2px rgb(2, 17, 151);
}

.donut-text {
    font-size: 25px;
    font-weight: 900;
}


@media all and (max-width: 880px) {

    .wrapper {
        height: calc(100vh - 6px);
        grid-template-rows: 190px calc(100vh - 210px - 6px) 20px;
    }

    .fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "finput"
            "fbutton"
            'foutput';
    }

    #graph, #arrow {
        display: none;
    }

    .fbutton, .foutput, .finput {
        padding-bottom: 15px;
    }

    .baton {
        height: 65px;
        width: 130px;
        border-radius: 45%;
    }

    .form-field {
        height: 60px;
        font-size: 40px;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .change {
        margin: auto;

    }

    .haiku-cont{
        margin: auto;
        width: 70%;
    }

    .gen-top {
        margin: auto;
    }

    .tr {
        font-size: 22px;
    }
}

#plot-select {
    outline: none;
}

#plot-select {
    font-size: 15px;
    box-shadow: 1px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(162, 180, 180);
}
